<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>kjwong2's External Style Sheet</title>
		<style>
		h1 {
			color: red;
			text-align: center;
			font-size: 40px;
		}
		h2 {
			color: red;
			text-align: center;
			font-size: 30px;
		}
		p {
			text-align: justify;
			color: black;
		}
		body {
			background-color: #e6faff;
		}
		#homebutton {
			position: relative;
			left: 0px;
			top: 0px;
		}
		#contactbutton {
			position: relative;
			left: 0px;
			top: 0px;
		}
		#titleimg {
			float: left;
			height: 30px;
			top: 5px;
			position: relative;
		}
		#titlebar {
			border: 2px solid;
			border-color: grey;
			height: 40px;
		}
		.titlebar {
			color: white;
		}
		.navbar {
			color: black;
		}
		</style>
	</head>
</html>