<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style>
		  h1 {
 			  color: black;
 		  }
 		  h2 {
 			  color: red;
 			  text-align: center;
 			  font-size: 30px;
  		}
  		p {
  			text-align: justify;
  			color: black;
  		}
  		body {
  			background-color: #e6faff;
 		  }
		</style>
	</head>
</html>