<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style>
		  .swag1 {
		    color: red;
		  }
		  h1 {
 			  color: black;
 		  }
 		  h2 {
 			  color: black;
  		}
  		/* h4 {
 			  color:white;
  		} */
  		p {
  			text-align: justify;
  			color: black;
  		}
  		a {
  		  margin: 0 auto;
  		  text-align: center;
  		}
  		body {
  			background-color: #e6faff;
  			color: black;
  			margin-top: 0;
 		  }
 		  #homebutton {
			  position: relative;
			  left: 0px;
			  top: 0px;
		  }
		  #contactbutton {
			  position: relative;
			  left: 0px;
			  top: 0px;
		  }
		  #titleimg {
			  float: left;
			  height: 30px;
			  top: 5px;
			  position: relative;
		  }
		  #titlebar {
			  border: 2px solid;
			  border-color: grey;
			  height: 40px;
		  }
		  .title.toc-ignore {
		    display: none;
		  }
		  .realtitle {
		    font-size: 500%;
		  }
		  body .main-container {
		    max-width: 750px;
		    
		  }
		  h1.realtitle {
		    margin-top: 4px;
		  }
		  .creatednav {
		    padding-right: 10px;
		    padding-left: 10px;
		  }
		  .swag1 {
		    padding-right: 20px;
		    padding-left: 20px;
		    color: green;
		  }
		  .right1 {
		    text-align: right;
		  }
		  .titlebar {
			  color: green;
		  }
		  .navbar {
			  background-color: white;
			  /* font-family: "Times New Roman"; */
			  /* --min-height: 80px; */
			  /* font-size: 10px; */
		  }
		  .navbar-brand {
		    /* font-size: 93%; */
		    font-size: 2.25rem;
		    color: black;
		    /* This adjusts "Kevin's Website" in the navbar, tested and works */
		  }
		  .navbar-nav {
		    /* font-size: 82%; */
		    font-size: 1.7rem;
		  }

		  .navbar-header {
		    /* font-size: 125%; */
		    color: black;
		    /* This adjusts "Kevin's Website" in the navbar, tested and works */
		  }
		  <!--.navbar-toggle { -->
        <!--display: block; -->
		  <!-- } -->
		  nav .site-nav a {
		    color:black;
		    font-size: 15px; 
		    /*etc*/
		  }
		  .nav {
			  color: green;
		  }
		  .text-align-left {
			  text-align: left;
		  }
		  realtitle {
		    color: green;
		  }
		  /* Float to the right on screens that are equal to or less than 768px wide */
		  /* @media (max-width: 601px) {
		    .float-left-sm {
		      text-align: right;
		      transform: translate(-100%, -50%);
		      color: purple;
		    }
		  } */
		  /* Small devices (tablets, 768px and up) */
		  .test222 {
		    text-align: justify;
        /*color:blue;*/
		  }
		  @media only screen and (min-width: 620px) {
          .test222 {
            /*color:red;*/
            float:right;
          }
          .br-mobile-break {
            line-height:100px;
            display: none;
          }
          .hr-hidden {
            height:10px;
            visibility: hidden;
          }
		    }
		  }
		  @media only screen and (min-width: 620px) {
          .br-mobile-break {
            display: none;
		    }
		  }
      /* Medium devices (desktops, 992px and up) */
      @media (min-width: 992px) {
		    .text-justify-md {
          text-align: left;
          color:blue;
		    }
		  }
		  /* Large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) {
		    .text-justify-lg {
          text-align: justify;
          color:red;
		    }
		  }
		  /* Float to the right on screens that are equal to or greater than 769px wide */
		  /* @media (min-width: 769px) {
		    .float-right-lg {
		      float: right;
		      
		    }
		  }
		  .centerMobileOnly{
		    float: right;
		  } */
		  /* @media screen and (max-width: 480px) {
        .centerMobileOnly {
          color:green;
          text-align: left;
          float: left;
        }
        .mobile-break {
          display: none;
        }
		  } */
		  .navigation ul a {
		    color: #000;
		    display: block;
		    padding: 0 65px 0 0;
		    text-decoration: none;
		    width:100%;
		    text-align:center;
		  }
		</style>
	</head>
</html>