<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<style>
		  .swag1 {
		    color: red;
		  }
		  h1 {
 			  color: black;
 		  }
 		  h2 {
 			  color: black;
  		}
  		p {
  			text-align: justify;
  			color: black;
  		}
  		body {
  			background-color: #e6faff;
  			color: black;
  			margin-top: 0;
 		  }
 		  #homebutton {
			  position: relative;
			  left: 0px;
			  top: 0px;
		  }
		  #contactbutton {
			  position: relative;
			  left: 0px;
			  top: 0px;
		  }
		  #titleimg {
			  float: left;
			  height: 30px;
			  top: 5px;
			  position: relative;
		  }
		  #titlebar {
			  border: 2px solid;
			  border-color: grey;
			  height: 40px;
		  }
		  .title.toc-ignore {
		    display: none;
		  }
		  .realtitle {
		    font-size: 500%;
		  }
		  body .main-container {
		    max-width: 750px;
		    
		  }
		  h1.realtitle {
		    margin-top: 4px;
		  }
		  .creatednav {
		    padding-right: 10px;
		    padding-left: 10px;
		  }
		  .swag1 {
		    padding-right: 20px;
		    padding-left: 20px;
		    color: green;
		  }
		  .right1 {
		    text-align: right;
		  }
		  .titlebar {
			  color: green;
		  }
		  .navbar {
			  background-color: white;
			  /* font-family: "Times New Roman"; */
			  /* --min-height: 80px; */
			  /* font-size: 10px; */
		  }
		  .navbar-brand {
		    /* font-size: 93%; */
		    font-size: 2.25rem;
		    color: black;
		    /* This adjusts "Kevin's Website" in the navbar, tested and works */
		  }
		  .navbar-nav {
		    /* font-size: 82%; */
		    font-size: 1.7rem;
		  }

		  .navbar-header {
		    /* font-size: 125%; */
		    color: black;
		    /* This adjusts "Kevin's Website" in the navbar, tested and works */
		  }
		  <!--.navbar-toggle { -->
        <!--display: block; -->
		  <!-- } -->
		  nav .site-nav a {
		    color:black;
		    font-size: 15px; 
		    /*etc*/
		  }
		  .nav {
			  color: green;
		  }
		  realtitle {
		    color: green;
		  }
		  /* Float to the right on screens that are equal to or less than 768px wide */
		  @media (max-width: 768px) {
		    .float-right-sm {
		      float: right;
		    }
		  }
		  /* Float to the right on screens that are equal to or greater than 769px wide */
		  @media (min-width: 769px) {
		    .float-right-lg {
		      float: right;
		    }
		  }
		  @media screen and (min-width: 600px)  {
        .mobile-break { display: none; }
    }
		</style>
	</head>
</html>